* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4287143; /* 14px * 1.4287143 = 20px*/
  color: #333;
  background-color: white;
}
/*fixed width */
.conatiner {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
[class|="col"]{

}
.rowh,.footer,.name, .col-commentnews, .col-row-htmlcss,.row-wrap,.col-row-main{
  min-height: 1px;
  float: left;
  border: 1px solid silver;
  text-align: center;
  line-height: 50px;
  background-color: lightpink;
}
.rowh {
  width: 100%;
  height: 8.33333333%;
}
.row-wrap {
  height:91.66666667%;
  width: 100%;
}
.col-row-htmlcss , .col-commentnews {
  width: 16.66666667%;
  height: 83.33333333%;
}
.footer{
  width: 100%;
  height: 8.33333333%;
}
.col-row-main {
  width: 66.66666667%;
  height: 100%;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}