body {
  background-color: ivory;
  text-align: center;
  font-size: 20px;
  margin: 0;
  box-sizing: border-box
}
div {
    float: left;
      height: 300px;
      color: #fff;
      font-size: 3em;
      line-height: 200px;
      text-align: center;
}
.home {
  background-color: salmon;
  width: 100%;
  margin-top: 0;
  border: 0;
}

.nav {
  background-color: pink;
  width: 30%;
  height: 90%;
 
}

.body {
  background-color: papayawhip;
 margin: auto;
  width: 40%;
  height: 90%;
  align-content: center;
}

.list{
  background-color: plum;

  width: 30%;
  margin-bottom: 10%;
}

.footer {
  height: 10%;
  background-color: peachpuff;
  width: 100%;
  color: black;
}
p {
  margin: 0;
}