* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #58666e;
      background-color: #f0f3f4;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjus: 100%;  /* iphone font size 변경 방지 */
}
a {
  color: inherit;
  text-decoration: none;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.nav {
  float: right;
}
.nav > ul {
  margin-right: 20px;
}
.nav > ul> li{
  display: inline-block;
  list-style: none;
}
.logo > img {
  height: 50px;
}
.wrap {
  width: 100%;

}
.head {
  position: fixed;
  width: 100%;
  height: 60px;
  font-size: 30px;
  z-index: 2000;
}
.logo {
  display: inline-block;
  height: 50px;
  margin-left: 25px;
  position: absolute;
  left: 0;
  width: 20%;
  list-style: none;
  line-height: 100%;
}
.nav {
  margin-right: 20px;
  height: 50px;
}
.main {
  overflow: hidden;
  position: relative;
  top: 51px;
  left: 10px;
  width: 100%;
  height: 1000px;
}
.bar {
  display: inline-block;
  width: 20%;
  height: 90%;
  background-color: grey;
}
.side {
  text-align: center;
  font-size: 50px;
  color: white;
}
.side > p {
  position: absolute;
  top: 25px;
  left: 25px;
  line-height: 100%;
}
.sidebar {
  position: absolute;
  top: 100px;
  left: 25px;
}
.sidebar > ul > li {
    list-style: none;
    color: whitesmoke;
    font-size: 25px;
    margin-top: 10px;
}
.section {
  width: 79%;
  height: 100%;
  float: right;
}
.article1 {
  width: 100%;
  height: 30%;
  background-image: url('London.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.article2 {
  width: 100%;
  height: 30%;
  background-image: url('paris.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.article3 {
  width: 100%;
  height: 30%;
  background-image: url('tokyo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.article1 > p {
  line-height: 100%;
}
.article2 > p {
  
}
.article3 > p {
  
}